<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NLP App | Login Page</title>
  </head>
  <body>
    <h1>NLP APP</h1>

    <h3>Login Here</h3>

    {% if message %}
    <p style="color: green">{{ message }}</p>
    {% endif %}
    <form action="/perform_login" method="post">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br /><br />
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />
      <input type="submit" value="Login" />
    </form>
    <p>Not a member? <a href="/register">Register Here</a></p>
  </body>
</html>
